services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    restart: always
    networks:
      - resume-net

  nginx:
    image: nginx:1.27-alpine
    depends_on:
      - web
    ports:
      - "880:80"
      - "8443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./certs:/etc/nginx/certs:ro
    networks:
      - resume-net
    restart: unless-stopped

networks:
  resume-net:
    driver: bridge
